<%= form_for(@vote_card) do |f| %>
  <% if @vote_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_card.errors.count, "error") %> prohibited this vote_card from being saved:</h2>

      <ul>
      <% @vote_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div id="voter"><%= f.label :name, "Your Name" %>
    <%= f.text_field :name %></div>
  </div>
  <hr />
  <div class="field">
    <div id="vote"><%= f.label :best_in_show_id, "Best in Show" %>
    &#10057; &#10053; <%= f.collection_select :best_in_show_id, @entries, :id, :cookie %></div>
  </div>
  <hr />
  <div class="field">
    <div id="vote"><%= f.label :most_delicious_id, "Most Delicious" %>
     &#10057; &#10053; <%= f.collection_select :most_delicious_id, @entries, :id, :cookie %></div>
  </div>
  <hr />
  <div class="field">
    <div id="vote"><%= f.label :most_decorative_id, "Most Decorative" %>
    &#10057; &#10053; <%= f.collection_select :most_decorative_id, @entries, :id, :cookie %></div>
  </div>
  <hr />
  <div class="field">
    <div id="vote"><%= f.label :most_traditional_id, "Most Traditional" %>
    &#10057; &#10053; <%= f.collection_select :most_traditional_id, @entries, :id, :cookie %></div>
  </div>
  <hr />
  <div class="actions" style="background-color:#6cf; padding: 5px 5px 5px 5px; border-color:#686868;  border-style:solid; border-width:2px;">
    <%= f.submit %>
  </div>
<% end %>
