<body style="background-color:#686868; background-image: url(<%= asset_path 'degrated.jpg' %>);">

<div id="cookie_app_border">
  <div id = "cp_container">

  <div id="header_image">
    <%= link_to (image_tag("5th_annual_cookie_party2.gif", :alt => "Ross and Aymee's 5th Annual Cookie Pary")), "/" %>
  </div> <!-- header_image -->

    <div id="menu"><%= link_to 'VOTE', new_vote_card_path %> &nbsp; <%= link_to 'ALL VOTES', vote_cards_path %> &nbsp; <%= link_to 'ENTER A COOKIE', new_entry_path %> &nbsp; <%= link_to 'ALL ENTRIES', entries_path %></div> <!-- menu -->

    <div id="blurb">

      <h1>Edit Your Vote Card</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @vote_card %> |
      <%= link_to 'Back', vote_cards_path %>
    </div> <!-- blurb -->

  </div> <!-- cookie_app_border -->
</div> <!-- cp_container -->
