<h1>Listing vote_cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vote_cards.each do |vote_card| %>
      <tr>
        <td><%= vote_card.name %></td>
        <td><%= link_to 'Show', vote_card %></td>
        <td><%= link_to 'Edit', edit_vote_card_path(vote_card) %></td>
        <td><%= link_to 'Destroy', vote_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote Card', new_vote_card_path %>

