<body style="background-image: url(<%= asset_path 'degrated.jpg' %>);  background-color:#686868;">
<%= stylesheet_link_tag "cookieparty" %>
<div id="cookie_app_border">
  <div id = "cp_container">

  <div id="header_image">
    <%= link_to (image_tag("5th_annual_cookie_party2.gif", :alt => "Ross and Aymee's 5th Annual Cookie Party")), "/" %>
  </div> <!-- close header_image -->

    <div id="menu"><%= link_to 'VOTE', new_vote_card_path %> &nbsp; <%= link_to 'ALL VOTES', vote_cards_path %> &nbsp; <%= link_to 'ENTER A COOKIE', new_entry_path %> &nbsp; <%= link_to 'ALL ENTRIES', entries_path %></div>

<h1>New Vote Card</h1>
<p>Enter your name and then vote. When you are finished click on the "Create Vote Card" button. This will submit your vote. If you wish to edit your vote later click on the "ALL VOTES" button in the menu bar, find your name and click edit. You can then change your vote. Be sure to click "Update Vote Card" when you are finished.</p>

<%= render 'form' %>

<%= link_to 'Back', "/" %>

    </div>
  </div>
</div> <!-- cp_container -->
