<body style="background-image: url(<%= asset_path 'degrated.jpg' %>);  background-color:#ccc;">
<div id="cookie_app_border" style="background-color:#396; width:550px; padding: 15px 15px 15px 15px; margin: 0 auto;">
<div id="cookieapp_container" style=" background-color:#cff; width:500px; padding: 10px 10px 10px 10px; margin: 0 auto;">
  <div id="header_image">
    <%= link_to (image_tag("5th_annual_cookie_party2.gif", :alt => "Ross and Aymee's 5th Annual Cookie Pary")), "/" %>
  </div> <!-- close header_image -->

  <div id="menu" style="background-color:#6cf; padding: 5px 5px 5px 5px; width:490px; margin: 0 auto;"><%= link_to 'VOTE', new_vote_card_path %> &nbsp; <%= link_to 'ALL VOTES', vote_cards_path %> &nbsp; <%= link_to 'ENTER A COOKIE', new_entry_path %> &nbsp; <%= link_to 'ALL ENTRIES', entries_path %></div>


    <h3>&#10057; If you brought a cookie please enter it to be voted on.</h3>
    <h3>&#10053; To vote continue on to the Voting Page</h3>
    <h2 style="color: #396; font-size: 150%">Enjoy yourselves and have a happy holiday season!</h2>
  </div> <!-- close blurb_home -->

</div> <!-- close cookieapp_container -->
</body>
