
      <%= link_to 'New Entry', new_entry_path %>

      <h1>Cookie Entries</h1>

      <table>
        <thead>
          <tr>
            <th id="vote">Cookie</th>
            <th id="vote">Baker</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @entries.each do |entry| %>
            <tr id="row1_entry">
              <td id="column1_entry"><%= entry.cookie %></td>
              <td id="column1_entry"><%= entry.baker %></td>
              <td id="columncrud"><%= link_to 'Show', entry %></td>
              <td id="columncrud"><%= link_to 'Edit', edit_entry_path(entry) %></td>
              <td id="columncrud"><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>

        </tbody>
      </table>

      <br>

