<h1> Results of the Cookie Party!</h1>
<p>
  <strong>Best in Show: </strong>
  <%= @results.best_in_show.cookie %>
</p>

<p>
  <strong>Most Delicious: </strong>
  <%= @results.most_delicious.cookie %>
</p>

<p>
  <strong>Most Decorative: </strong>
  <%= @results.most_decorative.cookie %>
</p>

<p>
  <strong>Most Traditional: </strong>
  <%= @results.most_traditional.cookie %>
</p>

<%= link_to 'Back', "/" %>
