<h1> Results of the Cookie Party!</h1>
<p>
  <h2>Best in Show: </h2>
  <%= @results.best_in_show.cookie %>, <%= @results.best_in_show.best_in_show_votes.count %> Votes
</p>

<p>
  <h2>Most Delicious: </h2>
  <%= @results.most_delicious.cookie %>, <%= @results.most_delicious.most_delicious_votes.count %> Votes
</p>

<p>
  <h2>Most Decorative: </h2>
  <%= @results.most_decorative.cookie %>, <%= @results.most_decorative.most_decorative_votes.count %> Votes
</p>

<p>
  <h2>Most Traditional: </h2>
  <%= @results.most_traditional.cookie %>, <%= @results.most_traditional.most_traditional_votes.count %> Votes
</p>

<%= link_to 'Back', "/" %>
